<template>
  <div>
    <v-row v-for="i in 12" :key="i">
      <VMarkdownHeader
        :text="`Header size ${i}`"
        :h="i"
      />
    </v-row>
  </div>
</template>

<script>
import VMarkdownHeader from '@/components/VMarkdownHeader.vue'

export default {
  components: {
    VMarkdownHeader
  },
  data: () => ({
  })
}
</script>
